@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-family: 'Poppins', sans-serif; /* Tüm sayfada Poppins fontu kullanılacak */
}

/* Sayfanın tamamında fontu kullan */
*, .stApp {
    font-family: 'Poppins', sans-serif; /* Tüm sayfada Poppins fontu kullanılacak */
}

/* Başlıklar ve Metin Boyutları */
.stTitle, .stMarkdown h1, .stMarkdown h2, .stMarkdown h3, .stMarkdown h4, .stMarkdown h5, .stMarkdown h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.stTitle {
    font-size: 2rem;
}

.stMarkdown h1 {
    font-size: 1.75rem;
    font-weight: 900;
}

.stMarkdown h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.stMarkdown h3 {
    font-size: 1.25rem;
}

.stMarkdown h4, .stMarkdown h5, .stMarkdown h6 {
    font-size: 1rem;
}

.transparent-menu {
    background-color: rgba(255, 255, 255, 0.5);  /* Şeffaf beyaz */
}

/* Mobil Cihazlara Göre Responsive Ayarlar */
@media (max-width: 768px) {
    .stTitle {
        font-size: 1.5rem;
    }

    .stMarkdown h1 {
        font-size: 1.5rem;
    }

    .stMarkdown h2 {
        font-size: 1.25rem;
    }

    .stMarkdown h3 {
        font-size: 1.1rem;
    }

    .stMarkdown h4, .stMarkdown h5, .stMarkdown h6 {
        font-size: 0.95rem;
    }

    /* Diğer metinlerin boyutları da küçültüldü ancak okunabilir seviyede bırakıldı */
    body, .stMarkdown p, .stMarkdown li {
        font-size: 0.9rem;
    }
    .stContainer {
        flex-direction: column; /* Küçük ekranlarda butonları dikey olarak hizalar */
        gap: 10px; /* Butonlar arası dikey boşluk */
    }
}

@media (max-width: 480px) {
    .stTitle {
        font-size: 1.25rem;
    }

    .stMarkdown h1 {
        font-size: 1.25rem;
    }

    .stMarkdown h2 {
        font-size: 1.1rem;
    }

    .stMarkdown h3, .stMarkdown h4, .stMarkdown h5, .stMarkdown h6 {
        font-size: 1rem;
    }

    body, .stMarkdown p, .stMarkdown li {
        font-size: 0.85rem;
    }
}
